.id{
    font-size: 0.8em;
    font-weight: 400;
}

mat-divider{
    margin: 3% 0;
}

pdf-viewer{ 
    margin-right: 3vw;
}

.infos{
    margin-top: 0%;
    margin-left: 1%;
}
.buttons{
    display: flex;
    gap: 3%;
}
button{
    width: 26%;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.zoomIn{
    cursor: zoom-in;
}
.zoomOut{
    cursor: zoom-out;
}
.noFile{
    margin-left: -43%;
}