<p>ID : {{data.id}} </p>

<form [formGroup]="form" (submit)="onSubmit()">

  <div class="row">
    <mat-form-field appearance="fill" class="col">
      <mat-label>Signature Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_signature">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
      <mat-label>Expires At</mat-label>
      <input matInput [matDatepicker]="picker_expires_at" formControlName="expires_at">
      <mat-datepicker-toggle matSuffix [for]="picker_expires_at"></mat-datepicker-toggle>
      <mat-datepicker #picker_expires_at></mat-datepicker>
    </mat-form-field>

    <input type="file" (change)="onImagePicked($event)" matTooltip="Choose Contract file" title>

  </div>



  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChange()" [(selectedIndex)]="indexTab">
    <mat-tab label="Paid">
      <div class="row tab-element">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Payment Date</mat-label>
          <input matInput [matDatepicker]="picker_payment_date" formControlName="payment_date">
          <mat-datepicker-toggle matSuffix [for]="picker_payment_date"></mat-datepicker-toggle>
          <mat-datepicker #picker_payment_date></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col">
          <mat-label>Payment Amount(TND)</mat-label>
          <input matInput formControlName="payment_amount">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="col">
        <mat-label>Payment Methode</mat-label>
        <mat-select formControlName="method">
          <mat-option value="cash">Cash</mat-option>
          <mat-option value="cheque">Cheque</mat-option>
        </mat-select>
      </mat-form-field>


    </mat-tab>

    <mat-tab label="Not Paid">
      <div class="row tab-element">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Payment Amount(TND)</mat-label>
          <input matInput formControlName="payment_amount">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker_due_date" formControlName="due_date">
          <mat-datepicker-toggle matSuffix [for]="picker_due_date"></mat-datepicker-toggle>
          <mat-datepicker #picker_due_date></mat-datepicker>
        </mat-form-field>

      </div>
    </mat-tab>


    <mat-tab label="Paid By Split">
      <div class="tab-element">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Global Amount (TND)</mat-label>
          <input matInput formControlName="global_amount">
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>Payment Methode</mat-label>
          <mat-select formControlName="method">
            <mat-option value="cash">Cash</mat-option>
            <mat-option value="cheque">Cheque</mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Payment info</h4>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>

        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label>Number Of Slices</mat-label>
            <input matInput formControlName="number_of_slices">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col">
            <mat-label>Payment Each slice</mat-label>
            <input matInput formControlName="payment_each_slice">
          </mat-form-field>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>

  <button mat-raised-button color="primary" class="submit">Submit</button>
</form>
