<h1>{{'Profile'|translate}}</h1>
<div class="container">
    <form [formGroup]="form" *ngIf="form" (submit)="onSubmit()">
        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'Last Name'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'First Name'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="firstName" >
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'Email'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="email">
            </mat-form-field>
            
            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'CIN'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="cin">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'Phone'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="phone">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'Job Title'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="job_title">
            </mat-form-field>

            <mat-form-field class="col" appearance="outline">
                <mat-label>{{'Department'|translate}}</mat-label>
                <input matInput autocomplete="off" required formControlName="department">
            </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary">{{'Submit'|translate}}</button>
    </form>
</div>