<mat-drawer-container class="main-content" [hasBackdrop]="false">
  <mat-drawer-content>
    <!-- <button (click)="drawer.toggle()"><mat-icon class="toggler">reorder</mat-icon></button> -->
 <router-outlet></router-outlet>


  </mat-drawer-content>

  <mat-drawer #drawer  mode="side" opened class="drawer">
    <img id="logo" src="../../assets/logo.jfif" alt="">
    <div class="side">
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/dashboard" >{{ "Dashboard" | translate}} <mat-icon class="side_nav_icons" style="color: rgb(150, 92, 5);"><mat-icon>assessment</mat-icon></mat-icon></button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/requests" >{{ "Documents Requests" | translate}} <mat-icon matBadge="{{notification}}" class="side_nav_icons" style="color: rgb(97, 27, 211);">text_snippet</mat-icon></button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/leaves" >{{ "Leaves" | translate}} <mat-icon class="side_nav_icons" style="color: rgb(97, 27, 211);">text_snippet</mat-icon></button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/users" >{{ "Users" | translate}} <mat-icon class="side_nav_icons" style="color: rgb(32, 40, 151);">supervised_user_circle</mat-icon> </button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/suppliers" >{{ "Suppliers" | translate}} <mat-icon class="side_nav_icons" style="color: rgb(13, 109, 21);">local_shipping</mat-icon> </button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/contracts" >{{ "Contracts" | translate}} <mat-icon class="side_nav_icons" style="color: rgb(107, 11, 35);">bookmark</mat-icon> </button>
      <button mat-raised-button routerLinkActive="active" routerLink="/admin/invoices" >{{'Invoices' | translate }} <mat-icon class="side_nav_icons" style="color: rgb(118, 126, 15);">receipt</mat-icon> </button>
      
      
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "Change Language" | translate}} <mat-icon class="work_icon">language</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
           <button mat-button style="margin: 10px;" (click)="changeLanguage('en-US')">{{'English' | translate }}</button> 
          <button mat-button style="margin: 10px;" (click)="changeLanguage('fr-FR')">{{'French' | translate }}</button>
        </mat-expansion-panel>
      </mat-accordion>   
    </div>

    <div class="bottom_nav">
      <img src="../../../assets/avatar.png" alt="" class="user">
      <span>{{ firstName }} {{lastName}}</span>
      <button (click)="logout()"><mat-icon class="logout">exit_to_app</mat-icon></button>
    </div>

  </mat-drawer>

</mat-drawer-container>
