<mat-drawer-container class="main-content" [hasBackdrop]="false">
  <mat-drawer-content>
    <!-- <button (click)="drawer.toggle()"><mat-icon class="toggler">reorder</mat-icon></button> -->
 <router-outlet></router-outlet>


  </mat-drawer-content>

  <mat-drawer #drawer  mode="side" opened class="drawer">
    <img id="logo" src="../../assets/logo.jfif" alt="">

    <div class="side">
      <button mat-raised-button routerLinkActive="active" routerLink="/employee/work" >{{ "Work Certifications" | translate}}<mat-icon class="side_nav_icons" style="color: #7137AC;">text_snippet</mat-icon></button>
      <button mat-raised-button routerLinkActive="active" routerLink="/employee/internship" >{{ "Internship Certifications" | translate}}<mat-icon class="side_nav_icons" style="color: #AC3737">text_snippet</mat-icon> </button>
      <button mat-raised-button routerLinkActive="active" routerLink="/employee/leave" >{{ "Request Leave" | translate}}<mat-icon class="side_nav_icons" style="color: #AC3737">text_snippet</mat-icon> </button>
    
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "Change Language" | translate}} <mat-icon class="work_icon">language</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
           <button mat-button style="margin: 10px;" (click)="changeLanguage('en-US')">{{"English" | translate}}</button> 
          <button mat-button style="margin: 10px;" (click)="changeLanguage('fr-FR')">{{"French" | translate}}</button>
        </mat-expansion-panel>
      </mat-accordion> 
    </div>



 

    <div class="bottom_nav">
      <a routerLink="profile" matTooltip="View Profile"><img src="../../assets/avatar.png" alt="" class="user"> </a>
       <span> {{ firstName }} {{lastName}} </span>
      <button (click)="logout()"><mat-icon class="logout">exit_to_app</mat-icon></button>
    </div>

  </mat-drawer>

</mat-drawer-container>
